<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type = "application/javascript"></script>
</head>
<body>
<div th:fragment="foot" class="footer diy-footer">
    Copyright © 2019-9102 · Harry Ma ·Porry论坛 ·UCloud+SpringBoot+Mysql
</div>

</body>
</html>