<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main profile">
    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                <span th:if="${question.user}">
                    作者：<span th:text="${question.user.name}"></span> &nbsp;
                </span>
                阅读数：<span th:text="${question.viewCount}"></span>&nbsp;
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.descri}"></div>
                <!--标签和编辑键-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag"  th:each="tag:${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags" ></span>
                        <span th:text="${tag}"></span>
                    </span>
                    <br><br>
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user!=null && session.user.id==question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑
                        </span>
                    </a>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
            <!--            回复内容-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.commentCount}"></span>个回复</h4>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment:${comment}">
                    <div class="media row-blank ">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>

                            <div class="row-blank paragraph-blank " th:text="${comment.commentContent}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span th:data-id="${comment.id}" onclick="collapseComments(this)" class="icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>

                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'dd MMMM yyyy')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <!--                                community.js-->

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下..."
                                           th:id="${'sub-comment-'+comment.id}">
                                    <button type="button" class="btn btn-success btn-publish row-blank"
                                            th:data-id="${comment.id}" onclick="comment(this)">评论
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            回复框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>提交回复</h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media" th:if="${question.user}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${question.user.avatarUrl}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea name="" id="comment_content" cols="30" rows="6" class="form-control comment"></textarea>
                    <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
                </div>
            </div>


        </div>
        <!--        右边栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media" th:if="${question.user}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.user.avatarUrl}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul>
                    <li th:each="related:${relateQuestions}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>